# Stock-Prize Alerting Python Project

This project includes an alerting system for a custom list of stocks including upper and lower limits.

Library imports

In [493]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yf
import plotly.graph_objs as go

Read your custom excel sheet with your stock symbols into a dataframe. For every stock symbol you should set an upper and lower limit.

In [492]:
df_stocks_and_limits = pd.read_excel('custom_stocks_list.xlsx')

print(df_stocks_and_limits)

   symbol  alert_upper_limit  alert_lower_limit
0   DMLRY                 30                 13
1  LHA.DE                 10                  4
2    AMZN               3500               2200

In [481]:
stocks_symbol_list = df_stocks_and_limits['symbol'].to_list()

In [482]:
stocks_symbol_list

['DMLRY', 'LHA.DE', 'AMZN']

In [483]:
stocks = " ".join(stocks_symbol_list)

Use the Yahoo! Finance's API to get the current stock prizes for you.

In [484]:
df_stocks_info = yf.download(stocks, period = "1d", interval = "1m", group_by = 'ticker')

[*********************100%***********************]  3 of 3 completed

In [485]:
df_stocks_info

                           DMLRY                                            \
                            Open     High        Low      Close  Adj Close
Datetime
2022-03-09 14:30:00+00:00  16.75  16.7799  16.719999  16.719999  16.719999
2022-03-09 14:31:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-09 14:32:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-09 14:33:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-09 14:34:00+00:00    NaN      NaN        NaN        NaN        NaN
...                          ...      ...        ...        ...        ...
2022-03-10 12:50:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-10 12:51:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-10 12:52:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-10 12:53:00+00:00    NaN      NaN        NaN        NaN        NaN
2022-03-10 12:54:02+00:00    NaN      NaN        NaN        NaN        NaN

                                 LHA.DE                                 \
                          Volume   Open   High    Low  Close Adj Close
Datetime
2022-03-09 14:30:00+00:00    0.0    NaN    NaN    NaN    NaN       NaN
2022-03-09 14:31:00+00:00    NaN    NaN    NaN    NaN    NaN       NaN
2022-03-09 14:32:00+00:00    NaN    NaN    NaN    NaN    NaN       NaN
2022-03-09 14:33:00+00:00    NaN    NaN    NaN    NaN    NaN       NaN
2022-03-09 14:34:00+00:00    NaN    NaN    NaN    NaN    NaN       NaN
...                          ...    ...    ...    ...    ...       ...
2022-03-10 12:50:00+00:00    NaN  6.711  6.715  6.696  6.698     6.698
2022-03-10 12:51:00+00:00    NaN  6.699  6.708  6.693  6.699     6.699
2022-03-10 12:52:00+00:00    NaN  6.700  6.701  6.693  6.694     6.694
2022-03-10 12:53:00+00:00    NaN  6.696  6.698  6.678  6.679     6.679
2022-03-10 12:54:02+00:00    NaN  6.681  6.681  6.681  6.681     6.681

                                           AMZN                            \
                            Volume         Open         High          Low
Datetime
2022-03-09 14:30:00+00:00      NaN  2790.000000  2805.000000  2785.979980
2022-03-09 14:31:00+00:00      NaN  2800.364990  2802.554932  2777.699951
2022-03-09 14:32:00+00:00      NaN  2782.110107  2796.415039  2782.110107
2022-03-09 14:33:00+00:00      NaN  2794.100098  2795.399902  2772.290039
2022-03-09 14:34:00+00:00      NaN  2771.976318  2780.000000  2771.520020
...                            ...          ...          ...          ...
2022-03-10 12:50:00+00:00  13458.0          NaN          NaN          NaN
2022-03-10 12:51:00+00:00  55760.0          NaN          NaN          NaN
2022-03-10 12:52:00+00:00   7664.0          NaN          NaN          NaN
2022-03-10 12:53:00+00:00  16494.0          NaN          NaN          NaN
2022-03-10 12:54:02+00:00      0.0          NaN          NaN          NaN


                                 Close    Adj Close    Volume
Datetime
2022-03-09 14:30:00+00:00  2800.989990  2800.989990  165940.0
2022-03-09 14:31:00+00:00  2780.334961  2780.334961   34135.0
2022-03-09 14:32:00+00:00  2791.270020  2791.270020   14934.0
2022-03-09 14:33:00+00:00  2772.290039  2772.290039   27334.0
2022-03-09 14:34:00+00:00  2779.060059  2779.060059   11474.0
...                                ...          ...       ...
2022-03-10 12:50:00+00:00          NaN          NaN       NaN
2022-03-10 12:51:00+00:00          NaN          NaN       NaN
2022-03-10 12:52:00+00:00          NaN          NaN       NaN
2022-03-10 12:53:00+00:00          NaN          NaN       NaN
2022-03-10 12:54:02+00:00          NaN          NaN       NaN

[679 rows x 18 columns]

In [486]:
df_stocks_info['DMLRY']

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-03-09 14:30:00+00:00,16.75,16.7799,16.719999,16.719999,16.719999,0.0
2022-03-09 14:31:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-09 14:32:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-09 14:33:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-09 14:34:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2022-03-10 12:50:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-10 12:51:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-10 12:52:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-10 12:53:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-10 12:54:02+00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [487]:
df_stocks_and_limits

   symbol  alert_upper_limit  alert_lower_limit
0   DMLRY                 30                 13
1  LHA.DE                 10                  4
2    AMZN               3500               2200

For every stock symbol in your list, check if the upper or lower alert is true

In [491]:
for symbol in df_stocks_and_limits['symbol']:
    df_temp = df_stocks_info[symbol]
    df_limits = df_stocks_and_limits.loc[df_stocks_and_limits['symbol']== symbol]
    upper_limit = df_limits['alert_upper_limit']
    lower_limit = df_limits['alert_lower_limit']
    if (df_temp.Close > int(upper_limit)).any():
        print('Upper Limit Alert for '+symbol)
    elif (df_temp.Close < int(lower_limit)).any():
        print('Lower Limit Alert for '+symbol)